@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Bebas Neue", cursive;
}

#tableWithCds {
  background: radial-gradient(
  circle,
  rgba(245, 194, 216, 1) 0%,
  rgba(229, 250, 255, 1) 100%
  );
}

#tableCart {
  background: radial-gradient(
  circle,
  rgb(237, 255, 136) 0%,
  rgb(196, 243, 255) 100%
  );
}

.card {
  border: none!important;
  .cardGenere {
    color: gray;
  }
  .cardPrice {
    color: green;
  }
  img {
    max-height: 250px;
    max-width: 250px;
  }
}